@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";


*{
    font-family: "Quicksand", sans-serif;
}